body {
  text-align: center;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  font-family: "Roboto", sans-serif;
  color: rgb(66, 69, 86);
  height: 100%;
  background-image: url("http://i.imgur.com/BJP2Q1j.jpg");
  background-size: cover;
  font-weight: 100;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: auto;
}

h1 {
  margin: 0;
  font-size: 10em;
  line-height: 400px;
  font-weight: 100;
}

p {
  margin: 0;
  font-size: 2em;
  font-weight: 500;
  color: white;
  -webkit-text-stroke: 0.5px rgba(66, 69, 86, 50%);
}

.number {
  color: rgb(66, 69, 86);
  font-weight: 700;
}

.form {
  line-height: 1.5;
  border: none;
  border-bottom: 3px solid white;
  margin-top: 100px;
  width: 500px;
  font-size: 1.5em;
  color: white;
  padding: 5px 10px;
  background: transparent;
}

button {
  line-height: 2;
  border: none;
  border: 3px solid white;
  font-size: 1.25em;
  color: rgb(66, 69, 86);
  padding: 2.5px 10px;
  background: rgba(255, 255, 255, 1);
  border-radius: 5px;
  opacity: 0.8;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(255, 255, 255, 0.8);
}
input[type="text"]:focus {
  outline: none;
}

button:hover {
  opacity: 1;
}
